body {
    text-align: center;
}

#bonski {
    height: 20%; 
    width: 20%;
}

#text {

    color: blue;
    text-decoration: underline;
}

#text:hover {
    color: rgb(75, 5, 161);
    cursor: pointer;
    text-decoration: underline;
}

#text:active {
    font-size: 13px; 
}

#snus {
    height: 10%;
    width: 10%;
}

button {
    height: 33px;
    width: 175px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}